/* Medium Devices, Desktops */


@media screen and (max-width:1340px){body{width:100%;}
.d7 input {
    width: 535px;
}
.productinfo {
    position: relative;
    overflow: hidden;
}
}

@media screen and (max-width:1279px){body{width:100%;}
.d7 input {
    width: 510px;
}
}

@media screen and (max-width:1254px){body{width:100%;}
.d7 input {
    width: 472px;
}
@media screen and (max-width:1224px){body{width:100%;}
.d7 input {
    width: 455px;
}


}
@media screen and (max-width:1200px){body{width:100%;}
.d7 input {
    width: 415px;
}
}

@media screen and (max-width:1170px){body{width:100%;}
.d7 input {
    width: 400px;
}
}

@media screen and (max-width:1143px){body{width:100%;}
.d7 input {
    width: 360px;
}

}

@media screen and (max-width:1110px){body{width:100%;}
.d7 input {
    width: 338px;
}
}


@media screen and (max-width:1085px){body{width:100%;}
.d7 input {
    width: 300px;
}
}

@media screen and (max-width:1050px){body{width:100%;}
.d7 input {
    width: 280px;
}
}

@media screen and (max-width:1040px){body{width:100%;}
.d7 input {
    width: 260px;
}

}
@media screen and (max-width:1024px){body{width:100%;}
.d7 input {
    width: 240px;
}
.single-products_a {

    margin-left: 13px;
}

}

@media screen and (max-width:995px) {
    .navbar-fixed-top {
        width: 100%;
        display: -ms-inline-flexbox;
        display: -webkit-inline-flex;
        display: -moz-inline-box;
        display: inline-flex;
    }

.pric {
margin: 7px;

    margin-right: 7px;
    margin-left: 7px;

margin-right: 7px;

margin-left: 7px;

margin-left: 0px;

margin-right: 14px;

padding-top: 10px;
height: 33px;
overflow: hidden;
width: 69px;
}
.prics {
margin: 11px;
    margin-right: 11px;
    margin-left: 11px;
margin-right: 7px;
margin-left: 7px;
margin-left: 0px;
margin-right: 18px;

padding-top: 6px;
height: 29px;
overflow: hidden;
width: 63px;

}

}
@media screen and (max-width:995px) {
    .journal-menu .menu-floated > li > a {
        padding: 0 8px !important;
    }


 .navbar-brand img {
    width: 210px;
}

.d7 input {
    width: 234px;
}

    .ecomment {

    max-width:400px;
}
.ecomment_form {

    width: 472px;
    margin-left: 66px;
}
}


@media screen and (max-width:950px) {
.d7 input {
    width: 200px;
}
}

@media screen and (max-width:910px) {
    .journal-menu .menu-floated > li > a {
        padding: 0 5px !important;
    }
    .baner img {

    height: 134.416px;
}
    .social-info {
    margin-left: -6px;
}
.topNavBlock {
    margin-top: -4px;
}
.navbar-brand img {
    width: 165px;
    margin-right: -7px;
}
    .ecomment_list {
    float: left;
    margin-left: 41px;
}
.ecomment {

    max-width:400px;
}
.ecomment_form {

    width: 472px;
    margin-left: 66px;
}
.d7 input {
    width: 180px;
}
.d7 {
    margin-top: 10px;
}
}

@media screen and (max-width:840px) {
    .journal-menu .menu-floated > li > a {
        padding: 0 5.5px ! important;}


    .social-info {
    margin-left: -6px;
}
.topNavBlock  a {
    font-size:12px
}
    .ecomment {

    max-width:400px;
}
.ecomment_form {

    width: 472px;
    margin-left: 66px;
}
.d7 input {
    width: 165px;
}
}
@media screen and (max-width:800px) {

    .journal-menu .menu-floated > li > a {
        padding: 0 3px !important;
    }

    .d7 input {
    width: 100px;
}




.baner img {
    height: 134.416px;
}



.ecomment {

    max-width:400px;
}
.ecomment_form {

    width: 472px;
    margin-left: 66px;
}
}
@media screen and (max-width:820px) {
.super-menu > li > a span {
    font-size: 7.2px;
    display: inline-block;
}
    li.drop-down.float-left.main-menu-item-1 {
        left: 4px;
    }
    li.drop-down.float-left.main-menu-item-2 {
        left: 6px;
    }
    li.drop-down.float-left.main-menu-item-3{
        left: 8px;
    }
    li.drop-down.float-left.main-menu-item-4 {
        left: 9px;
    }
    li.drop-down.float-left.main-menu-item-5 {
        left: 10px;
    }
    li.drop-down.float-left.main-menu-item-6 {
        left: 12px;
    }
    li.drop-down.float-left.main-menu-item-7 {
        left: 13px;
    }
    li.drop-down.float-left.main-menu-item-8 {
        left: 16px;
    }
    li.drop-down.float-left.main-menu-item-9 {
        left: 18px;
    }
    li.drop-down.float-left.main-menu-item-10 {
        left: 20px;
    }
    li.drop-down.float-left.main-menu-item-11 {
        left: 19px;
    }

    li.drop-down.float-left.main-menu-item-12 {
        left: 17px;
    }

    li.drop-down.float-left.main-menu-item-13 {
        left: 20px;
    }
    .But_add {

    padding-right: 38px;
}
.g-price-old-uah_s::before {
    content: '';
    width: 50%;
    height: 1px;
    position: absolute;
    background:
    #fb515d;
    left: 19px;
    top: ;
    bottom: ;
    margin-top: 15px;
    margin-left: 5px;
}
.g-price-old-uah::before {
    content: '';
    width: 51%;
    height: 1px;
    position: absolute;
    background:
    #fb515d;
    left: 0;
    top: ;
    bottom: ;
    margin-top: 15px;
    margin-left: 23px;
}

    .d7 input {
    width: 100px;
}
.discount_date {
    content: "";
    top: 0px;
    width: 59px;
    height: 22px;
    background-color:
#C7A87A;
border-radius: 8px;
color:
    #fff;
    font-size: 10px;
    line-height: 23px;
    text-align: center;
    font-family: Trebuchet MS Bold,Arial,sans-serif;
    margin-bottom: -10px;
    display: block;
    margin-left: 53px;
}
.country {
    font-size: 10px;
height: 28px;
}

.ecomment {

    max-width:400px;
}
.ecomment_form {

    width: 472px;
    margin-left: 66px;
}
}

@media screen and (max-width:770px) {
    .journal-menu .menu-floated > li > a {
        padding: 0 0px !important;
        margin-left: 5px;
    }
    .super-menu > li > a span {
    font-size: 7.0px;
    display: inline-block;
    }
    .mainNav-mobile {

    display:block;
}


#search_submit {
    width: 33px;}


.auth {


    margin-left: 30px;
}

.But_add {

    padding-right: 38px;
}
.g-price-old-uah_s::before {
    content: '';
    width: 50%;
    height: 1px;
    position: absolute;
    background:
    #fb515d;
    left: 19px;
    top: ;
    bottom: ;
    margin-top: 15px;
    margin-left: 5px;
}
.g-price-old-uah::before {
    content: '';
    width: 51%;
    height: 1px;
    position: absolute;
    background:
    #fb515d;
    left: 0;
    top: ;
    bottom: ;
    margin-top: 15px;
    margin-left: 23px;
}
.ecomment_list {
    float: left;

}
.ecomment {

    max-width:400px;
}
.ecomment_form {

    width: 472px;
    margin-left: 66px;
}

$elastic: (
  position: left,
  width: 300,
  backgroundColor: #7c7fe0,
  duration: 300,
);


// get key
$position: map-get($elastic, 'position');
$width: map-get($elastic, 'width');
$backgroundColor: map-get($elastic, 'backgroundColor');
$duration: map-get($elastic, 'duration');
// css button
#show {
  background-color: $backgroundColor;
  border: 0;
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Start
.navigation {
  position: fixed;
  width: $width*1px;
  height: 100%;
  top: 0;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  visibility: hidden;
  z-index: 99;
  transition-delay: $duration*1ms;
  @if ($position == right) {
    right: 0;
  } @else if ($position == left) {
    left: 0;
  }

  &.active {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
    .navigation__inner {
      background-color: $backgroundColor;
      transform: translate(0, 0);
      transition: transform $duration*1ms linear, background-color 0s linear ($duration*2-1)*1ms;
      &:after {
        width: 300%;
        border-radius: 50%;
        animation: elastic ($duration/2)*1ms ease ($duration+0.5)*1ms both;
      }
    }
  }
}
.navigation__inner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 999999;
  @if ($position == right) {
    transform: translate(100%, 0);
  } @else if ($position == left) {
    transform: translate(-100%, 0);
  }
  transition: transform $duration*1ms linear, background-color 0s linear $duration*1ms;
  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    @if ($position == right) {
      left: 0;
    } @else if ($position == left) {
      right: 0;
    }
    background-color: $backgroundColor;
    border-radius: 50%;
    z-index: -1;
    transition: all $duration*1ms linear;

  }
}

@keyframes elastic {
    0% {
        border-radius: 50%;
    }
    45% {
        border-radius: 0;
    }
    65% {
        @if ($position == right) {
          border-top-left-radius: 40px 50%;
          border-bottom-left-radius: 40px 50%;
        } @else if ($position == left) {
          border-top-right-radius: 40px 50%;
          border-bottom-right-radius: 40px 50%;
        }
    }
    80% {
        border-radius: 0;
    }
    90% {
        @if ($position == right) {
          border-top-left-radius: 20px 50%;
          border-bottom-left-radius: 20px 50%;
        } @else if ($position == left) {
          border-top-right-radius: 20px 50%;
          border-bottom-right-radius: 20px 50%;
        }
    }
    100% {
        border-radius: 0;
    }
}
}

/* Small Devices, Tablets */


@media only screen and (max-width : 762px){

    .journal-menu{
        display: none;
    }
    .left-sidebar{
        display: none;
    }
    .Items_Back{
        display: none;
    }
    .baner{
        display: none;
    }
    .header_top{
        display: none;
    }
    .pc{
        display: none;
    }
    .Register_shop{
        display:none;
    }
    #header_mobile{
        display: block;
    }
    #section_mobile{
    display: block;
}
.Discount_bar {
    margin-bottom: 20px;
}
.g-price-old-uah {

    font-size: 20px;
    margin-left: 9px;
    color:

    #999;
    height: 20px;
    margin-right: -55px;

}
.formControl input{
    position: relative;
    background:
    #fff;
    width: 100%;
    padding-left: 10px;
    font-size: 13px;
}
.discount_date_w_mobile {
    position: absolute;
    content: "";
    width: 59px;
    height: 22px;
    background-color:
#C7A87A;
border-radius: ;
color:
    #fff;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    font-family: Trebuchet MS Bold,Arial,sans-serif;
    left: ;
    margin-bottom: ;
    padding-bottom: ;
    margin-left: 2px;
    margin-top: 2px;
}
.formControl input {
    height: 35px;
    width: 300px;
    max-width: 305px;
    padding: 10px 15px;
        padding-left: 15px;
    padding-left: 1px;
    border: 0;
    font-size: 16px;
    background:
#fff;
color:
    #9b9b9b;
    border-radius: 0;
    font-family: 'proxima-nova',sans-serif;
  z-index: 1070;
}
.formSearch {
    width: calc(100% - 40px);
}
.formSearch {
    float: left;
    position: relative;
}
.formSubmit input {
    background-image: url(https://goodwine.com.ua/skin/frontend/default/mobile/assets/img/search-icon.svg);
    background-size: 15px 15px;
}
.formSubmit input {
    width: 40px;
    height: 35px;
    float: left;
    border: 0;
    background:
    #C7A87A url(https://goodwine.com.ua/skin/frontend/default/mobile/assets/img/search_ic.png) 50% 50% no-repeat;
        background-image: url("https://goodwine.com.ua/skin/frontend/default/mobile/assets/img/search_ic.png");
        background-size: auto;
    cursor: pointer;
    border-radius: 0;
}
.formSubmit {
    float: right;
}
.g-price-old-uah::before {
    content: '';
    width: 25%;
    height: 1px;
    position: absolute;
    background:
    #fb515d;
    left: 0;
    top: ;
    bottom: ;
    margin-top: 15px;
    margin-left: 48px;
}
.discount_date {
    content: "";
    top: 0px;
    width: 59px;
    height: 22px;
    background-color:
#C7A87A;
border-radius: 8px;
color:
    #fff;
    font-size: 10px;
    line-height: 23px;
    text-align: center;
    font-family: Trebuchet MS Bold,Arial,sans-serif;
    margin-bottom: -10px;
    display: block;
    margin-left: 158px;
}

.product__discount {
    position: absolute;
    content: "";
    left: 89px;
    top: 5px;
    width: 40px;
    height: 40px;
    background-color:
#C7A87A;
border-radius: 50%;
color:
    #fff;
    font-size: 15px;
    line-height: 40px;
    text-align: center;
    font-family: Trebuchet MS Bold,Arial,sans-serif;
}
.Items_Back_e {
    background:
    white;
    border: 0;
        border-top-color: currentcolor;
        border-top-style: none;
        border-top-width: 0px;
    margin-bottom: 0px;
    border-top: 0;
    margin-top: -8px;
}
.nana.col-3 {

    display: none;

}
.mama.col-9 {

    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 0px;
    padding-left: 0px;

}
.Menu_Category_mobile
{
display:flex;
}
.wine_mobile_category {
    display: flex;
    flex-wrap: wrap;
}
.baner_mug img{
display:none;
}
#navbar-header_mobile_m {
    top: 61%;
}
#navbar-header_mobile {
    top: 61%;
}
.pric {
    margin: 7px;
        margin-right: 7px;
        margin-left: 7px;
    margin-right: 7px;
    margin-left: 7px;
    margin-left: -7px;
    margin-right: 36px;
}

.country {
    font-size: 16px;
    height: 29px;
}
#User_mobile {
    float: right;
}
.Items_M{
display:block;
}
.Items_B{
display:none;
}
.mob_li {
    margin-left: 141px;
    color:
    darkgrey;
}
.Register_shop_mobile{
        background:
white;
border: 2px solid
#DDDCDC;
margin-bottom: 20px;
padding-top: 20px;
font-family: roboto;
display:block;
    }

.navbar-brand_mobile img {
    width: auto;
    height: 102px;
    float: inherit;
    margin-left: 155px;
    margin-top: 0;
}
.But_add_mobile {
    margin-top: 10px;
    box-shadow: -18px 2px 8px
    rgba(0, 0, 0, 0.25);
    padding-bottom: 10px;
    padding-right: 20px;
    margin-right: 13px;
}
.contact-info a {

    margin-left: 218px;
    margin-top: 6px;
}
.social-info a {
    margin-right: 198px;
}
.header_top_mobile {
    background:
    rgb(22, 20, 24);
}
.dropdown-menu {

    top: 9%;
}
.mobile_search {

    z-index: 1070;
    padding: 0;
    margin-left: 130px;
    width: 395px;
}
#navbar-phone_mobile {
    float: right;
    margin-left: 0px;
}
.count_mobile{
    float: right;
}
.mobile_search_find{
    float:right;
}
.btn.btn-dark.count_mobile {
    float: right;
    width:100%
}
.user_mobile {
    float: right;
    margin-left: 520px;
    margin-top: 4px;
    background: inherit;
    border-radius: 14px;
    padding: 8px;
    z-index: 1071;
}
.user_mobile li{
    margin-bottom: 10px;
}
.sidebar_mobile{
    background-color:
rgb(255, 255, 255);
border: 2px solid
#DDDCDC;
padding: 6px 6px 6px 10px !important;
z-index: 1018;
}
.sidebar_mobile a {
    display: block;
    border-bottom: 2px solid
    #DDDCDC;
    padding: 6px 6px 6px 10px !important;
    color: #4e555b;
}
.modal_button {
    margin-left: 231px;
}
.Items_Back_Mobile {
    display:block;
    background:
white;

    #DDDCDC;
    width: 100%;

}
.Items_Back_Mobile_m {

    display:block;
    background:
white;

    #DDDCDC;
    width: 100%;

}
.product-image-wrapper_mobile{
    border: 1px solid
#F7F7F5;
overflow: hidden;
margin-bottom: 30px;
width: 360px;
}
.product-image-wrapper_mobile:hover {
    box-shadow: 0 2px 8px
    rgba(0, 0, 0, 0.25);
}
.last_items {
    margin-bottom: 20px;
    display: block;
    margin-left:0px;
    margin-right: 30px;
}
.new_1 {
    position: absolute;
    top: 0;
    right: 97px;
}
.new, .sale {
    position: absolute;
    top: 0;
    right: 52px;
}
.last_items_mobile {
    margin-bottom: 20px;
    display: block;
    margin-left: 3px;
    margin-right: 30px;
}
.Wine_country_mobile img {
    width: auto;
    height: 78.92px;
}
.Wine_colored_mobile img {
    width: auto;
    height: 170.92px;
}
.ecomment {
    margin-left: 40px;
margin-right: 70px;
    max-width: 551px;
}
.ecomment_form {
    width: 452px;
    margin-left: 165px;
}
.ecomment_list {
    float: left;
    margin-left: 121px;
}
.checkout_button {
    background:
    black;
    border-radius: 8px;
}
.checkout_button a {
    width: 100%;
    line-height: 22px;
    font-size: 200%;
color: whitesmoke;
}
.checkout_button btn {
 width: 100%;
    line-height: 22px;
    font-size: 200%;
color: whitesmoke;
}

.main-goods__title_a {
    display: block;
    height: 48px;
    overflow: hidden;
    font-size: 18px;
    line-height: 15px;
    color: #333;
    white-space: normal;
}
.productinfo a {
    padding-top: 13px;
    white-space: normal;
font-weight: 542;
}
.mainNav-mobile .link-catalog, .mainNav-mobile .link-free-call {
    padding-left: 153px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 72px;
}
.link-catalog_head{
 padding-left: 244px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 72px;
}
}
@media only screen and (max-width : 736px)  {

#navbar-header_mobile_m {
    top: 55%;
}
#navbar-header_mobile {
    top: 55%;
}
.g-price-old-uah_w_mobile{

    font-size: 20px;
    margin-left: 9px;
    color:
    #999;
    height: 20px;
    margin-right: 4px;
    margin-top: -7px;

}
.g-price-old-uah_w_mobile::before {
    content: '';
    width: 10%;
    height: 1px;
    position: absolute;
    background:
    #fb515d;
    left: ;
    top: ;
    bottom: ;
    margin-top: 15px;
    margin-left: ;
}


}
@media only screen and (max-width : 667px)  {
.product-image-wrapper_mobile {
    border: 1px solid
    #F7F7F5;
    overflow: hidden;
    margin-bottom: 30px;
    width: 317px;
}
.g-price-old-uah::before {
    content: '';
    width: 25%;
    height: 1px;
    position: absolute;
    background:
    #fb515d;
    left: 0;
    top: ;
    bottom: ;
    margin-top: 15px;
    margin-left: 30px;
}
#navbar-header_mobile_m {
    top: 60%;
}
#navbar-header_mobile {
    top: 60%;
}
.user_mobile {
    float: right;
    margin-left: 451px;
    margin-top: 4px;
    background: inherit;
    border-radius: 13px;
    padding: 8px;
    z-index: 1071;
}
.mobile_search {
    z-index: 1070;
    padding: 0;
    margin-left: 130px;
    width: 357px;
}
.discount_date {
    content: "";
    top: 0px;
    width: 59px;
    height: 22px;
    background-color:
#C7A87A;
border-radius: 8px;
color:
    #fff;
    font-size: 10px;
    line-height: 23px;
    text-align: center;
    font-family: Trebuchet MS Bold,Arial,sans-serif;
    margin-bottom: -10px;
    display: block;
    margin-left: 135px;
}
.product__discount {
    position: absolute;
    content: "";
    left: 75px;
    top: 5px;
    width: 40px;
    height: 40px;
    background-color:
#C7A87A;
border-radius: 50%;
color:
    #fff;
    font-size: 15px;
    line-height: 40px;
    text-align: center;
    font-family: Trebuchet MS Bold,Arial,sans-serif;
}


}

@media only screen and (max-width : 640px)  {

.mainNav-mobile .link-catalog, .mainNav-mobile .link-free-call {
    padding-left: 118px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 72px;
}
#navbar-header_mobile_m {
    top: 63%;
}
#navbar-header_mobile {
    top: 63%;
}

}

@media only screen and (max-width : 568px)  {
.product-image-wrapper_mobile {
    border: 1px solid
    #F7F7F5;
    overflow: hidden;
    margin-bottom: 30px;
    width: 282px;
}
.user_mobile {

    margin-left: 375px;


}
.navbar-brand_mobile img {

    margin-left: 60px;

}
.discount_date {

    margin-left: 113px;
}
.product__discount {

    left: 55px;

}
.g-price-old-uah::before {

    margin-left: 16px;
}
.mainNav-mobile .link-catalog, .mainNav-mobile .link-free-call {
    padding-left: 91px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 72px;
}
#navbar-header_mobile_m {
    top: 78%;
}
#navbar-header_mobile {
    top: 78%;
}
.link-catalog_head {
    padding-left: 209px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 72px;
}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .journal-menu {
        display: none;
    }
    .modal_button{
        margin-left:43px;
    }
    .navbar-brand_mobile img {
margin-left: 25px;
}
.header_top_mobile {
    background:
    rgb(22, 20, 24);
display: flex;

}
.contact-info a {
    margin-top:10px;
    margin-left: 20px;
}
.navbar-toggler {

    background-color: transparent;
}
.dropdown-menu {

    top: 6%;
}
.mobile_search {
   margin-left: 6px;
margin-top: 5px;
    border-radius: 11px;
    padding:0px;
}

.count_mobile{

}
.mobile_search_find{
    margin-left:14px;
}

    .user_mobile {
    margin-left: 213px;
    margin-top: -1px;
    background: inherit;
    border-radius: 14px;
    padding: 8px;
}
.user_mobile li{
    margin-bottom: 10px;
}
.sidebar_mobile{
    background-color:
rgb(255, 255, 255);
border: 2px solid
#DDDCDC;
padding: 6px 6px 6px 10px !important;
}
.sidebar_mobile a {
    display: block;
    border-bottom: 2px solid
    #DDDCDC;
    padding: 6px 6px 6px 10px !important;
    color: #4e555b;
}
.col-6{
    padding-right: -32px;
padding-left: -30px;
}
.Items_Back_Mobile {
    display:block;
    background:
white;

    #DDDCDC;
    width: 100%;

}
.product-image-wrapper_mobile {
    border: 1px solid
    #F7F7F5;
    overflow: hidden;
    margin-bottom: 30px;
    width: 175px;
}
.product-image-wrapper_mobile:hover {
    box-shadow: 0 2px 8px
    rgba(0, 0, 0, 0.25);
}
.last_items {
    margin-bottom: 20px;
    display: block;
    margin-left: -14px;
margin-right: 0px;
}
.new_1 {
    position: absolute;
    top: 0;
    right: 17px;
}
.last_items_mobile {

        margin-left: 4px;

}
.Wine_country_mobile img {
    width: auto;
    height: 53.92px;
}
.Wine_colored_mobile img {
    width: auto;
    height: 88.92px;
}
.count {
    margin-top: 9px;
    margin-left: 16px;
}
.But_add_mobile {
    margin-top: 10px;
    box-shadow: -18px 2px 8px
    rgba(0, 0, 0, 0.25);
    padding-bottom: 10px;
    padding-right: 0px;
    margin-right: 13px;
}
.share {
    margin-left: 9px;
    margin-top: 5px;
}
.mainNav-mobile .link-catalog, .mainNav-mobile .link-free-call {
    padding-left: 39px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 44px;
}
.mainNav-mobile {

    margin-left: 0px;
    margin-right: 0px;
}
.Items_Back_Mobile_m{

    display: block;
    background:
white;

    #DDDCDC;
    width: 100%;

}
.ecomment {
    margin-left: 40px;
margin-right: 70px;
    max-width: 308px;
}
.ecomment_form {
    width: 359px;
    margin-left: 0px;
}
.ecomment_list {
    float: left;
    margin-left: -110px;
}
.checkout_button a {

    width: 100%;
    line-height: 22px;
    font-size: 200%;
    color:

    whitesmoke;

}
.checkout_button btn {
 width: 100%;
    line-height: 22px;
    font-size: 200%;
color: whitesmoke;
}
.btn.btn-default.Ajax-minus_mini {
    margin-right: -7px;
    margin-left: -35px;
}
.btn.btn-default.Ajax-plus_mini {
    margin-right: -26px;
    margin-left: -9px;
}
.checkout_button {
    background:
    silver;
}
.formControl input{
    position: relative;
    background:
    #fff;
    width: 100%;
    padding-left: 10px;
    font-size: 13px;
}
.formControl input {
    height: 35px;
    width: 300px;
    max-width: 305px;
    padding: 10px 15px;
        padding-left: 15px;
    padding-left: 1px;
    border: 0;
    font-size: 16px;
    background:
#fff;
color:
    #9b9b9b;
    border-radius: 0;
    font-family: 'proxima-nova',sans-serif;
  z-index: 1070;
}
.formSearch {
    width: calc(100% - 40px);
}
.formSearch {
    float: left;
    position: relative;
}
.formSubmit input {
    background-image: url(https://goodwine.com.ua/skin/frontend/default/mobile/assets/img/search-icon.svg);
    background-size: 15px 15px;
}
.formSubmit input {
    width: 40px;
    height: 35px;
    float: left;
    border: 0;
    background:
    #C7A87A url(https://goodwine.com.ua/skin/frontend/default/mobile/assets/img/search_ic.png) 50% 50% no-repeat;
        background-image: url("https://goodwine.com.ua/skin/frontend/default/mobile/assets/img/search_ic.png");
        background-size: auto;
    cursor: pointer;
    border-radius: 0;
}
.formSubmit {
    float: right;
}
.navBurger {
    position: fixed;
    right: 20px;
    top: 20px;
    cursor: pointer;
    background: #FFF;
    box-sizing: border-box;
    background-clip: content-box;
    width: 30px;
    height: 24px;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    &:before,
    &:after {
        content: "";
        position: absolute;
        background: #111;
        height: 2px;
        width: 100%;
        right: 0;
        will-change: rotate;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    &:before {
        top: -10px;
    }
    &:after {
        bottom: -10px;
        width: 90%;
    }
    &.active {
        background: transparent;
        background-clip: content-box;
    }
    &.active:before {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
        top: 0;
        background: #eee;
        width: 110%;
    }
    &.active:after {
        bottom: 0;
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg);
        background: #eee;
        width: 110%;
    }
}

.overlay {
    position: fixed;
    background: #2a3140;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform-origin: right top;
    transform: scale(0);
    visibility: hidden;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    &.open {
        opacity: 0.99;
        visibility: visible;
        transform: scale(1);
        li {
            display: block;
            animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5)
                forwards;
            animation-delay: 0.4s;
            transform: rotate(-7deg);
            transform-origin: right bottom;
            &:nth-of-type(2) {
                animation-delay: 0.5s;
            }
            &:nth-of-type(3) {
                animation-delay: 0.6s;
            }
            &:nth-of-type(4) {
                animation-delay: 0.7s;
            }
            &:nth-of-type(5) {
                animation-delay: 0.8s;
            }
        }
    }
}

.overlayMenu {
    position: absolute;
    text-align: right;
    right: 10vw;
    bottom: 10vw;
    ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        display: block;
        position: relative;
        height: 100%;
        li {
            display: block;
            position: relative;
            opacity: 0;
            width: 100%;
            a {
                display: inline-block;
                border: 1px solid rgba(255, 255, 255, 0.09);
                color: #fff;
                text-decoration: none;
                font-size: 30px;
                padding: 10px 40px 10px 40px;
                margin: 5px 0;
                transition: 0.2s;
                &:hover,
                &:active,
                &:focus {
                    transform: translateX(-2px);
                    padding-left: 80px;
                    outline: 1px solid rgba(255, 255, 255, 0.3);
                    background: rgba(255, 255, 255, 0.03);
                }
            }
        }
    }
}

.locked {
    overflow: hidden;
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 50px;
    }
    100% {
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
    }
}
.link-catalog, .link-free-call {
    padding-left: 29px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 45px;
width: 187px;
}

#User_mobile {
    float: right;
}
.btn.btn-dark.count_mobile {
    float: right;
    width:100%
}
#search {
    z-index: 1070;
}
.ui-autocomplete-input{
z-index:1070;
}
.ui-autocomplete-input{
z-index:1070;
}
.navbar {
    z-index: 100;
}
#navbar-header_mobile {
    top: 34%;
}
#navbar-header_mobile_m {
top: 34%;
}
.mobile_search_find {
    float: right;
}
.modal-backdrop {

    z-index: 10;

}
.mod_al{


}
.pric {
    margin: 7px;
        margin-right: 7px;
        margin-left: 7px;
    margin-right: 7px;
    margin-left: 7px;
    margin-right: 7px;
    margin-left: 7px;
    margin-left: -2px;
    margin-right: 4px;
    font-size: 20px;
}
.But_add a {

    font-size: 14px;
}
}
@media only screen and (max-width : 414px) and (max-height :896px) {
.product__discount {
    left: 17px;
}
.mobile_search_find {

    margin-left: 0px;

}
#navbar-phone_mobile {

    float: right;
    margin-left: 0px;

}
.dropdown-menu {
    top: 4%;
}
.country {
    font-size: 13px;
    height: 30px;
}
.g-price-old-uah {
    font-size: 15px;
    margin-left: 9px;
    color: #999;
    height: 20px;
    margin-right: -55px;
}
.navbar-brand_mobile img {
    margin-left: -5px;
}
.discount_date {
    margin-left: 75px;
}
.new, .sale {

    position: absolute;
    top: 0;
    right: -3px;

}
.link-catalog_head {
    padding-left: 140px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 49px;
}
.But_add {

    padding-right: 0px;
     padding-left: 14px;
}
.pric {
    margin: 7px;
        margin-right: 7px;
        margin-left: 7px;
    margin-right: 7px;
    margin-left: 7px;
    margin-right: 7px;
    margin-left: 7px;
    margin-right: 7px;
    margin-left: 7px;
    margin-left: -6px;
    margin-right: 13px;
    font-size: 18px;
}
.g-price-old-uah::before {

    content: '';
    width: 37%;
    height: 1px;
    position: absolute;
    background:

    #fb515d;
    left: 0;
    top: ;
    bottom: ;
    margin-top: 15px;
    margin-left: 30px;


    margin-left: 5px;


}
#navbar-header_mobile {

    top: 27.5%;

}
#navbar-header_mobile_m {
top: 27.5%;
}
}
@media only screen and (max-width : 414px) and (max-height :846px) {
#navbar-header_mobile {
    top: 27%;
}
.product__discount {
    left: 17px;
}
.navbar-brand_mobile img {
    margin-left: -5px;
}
.discount_date {
    margin-left: 75px;
}

.g-price-old-uah::before {
    content: '';
    width: 33%;
    height: 1px;
    position: absolute;
    background:
    #fb515d;
    left: 0;
    top: ;
    bottom: ;
    margin-top: 14px;
    margin-left: 30px;
    margin-left: 17px;
}
.new, .sale {

    position: absolute;
    top: 0;
    right: -3px;

}
.link-catalog_head {
    padding-left: 140px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 49px;
}
#navbar-header_mobile_m {
top: 27%;
}
.navbar-brand_mobile img {
    width: auto;
    height: 80px;
}
.link-catalog_head {
    padding-left: 136px;
}
.mob_li {
    margin-left: 71px;

}
.product-image-wrapper_mobile {
    border: 1px solid
    #F7F7F5;
    overflow: hidden;
    margin-bottom: 30px;
    width: 207px;
}
.last_items_mobile {
    margin-left: 0px;
}
.last_items {
    margin-bottom: 20px;
    display: block;
    margin-left: -15px;
    margin-right: 0px;
}
.link-catalog, .link-free-call {

width: 217px;
}
}
@media only screen and (max-width : 393px)  {
#navbar-header_mobile {
    top: 30%;
}
#navbar-header_mobile_m {
top: 30%;
}
.link-catalog, .link-free-call {

width: 195px;
}
.pric {
    margin: 7px;
        margin-right: 7px;
        margin-left: 7px;
    margin-right: 7px;
    margin-left: 7px;
    margin-right: 7px;
    margin-left: 7px;
    margin-left: -2px;
    margin-right: 4px;
    font-size: 20px;
}
.But_add a {

    font-size: 14px;
}
}

@media only screen and (max-width : 414px) and (max-height :736px) {
#navbar-header_mobile {
    top: 28%;
}
#navbar-header_mobile_m {
top: 28%;
}
.mobile_search_find {

    margin-left: 0px;

}
#navbar-phone_mobile {
    float: right;
    margin-left: 0px;
}
.navbar-brand_mobile img {
    width: auto;
    height: 80px;
}
.link-catalog_head {
    padding-left: 136px;
}
.mob_li {
    margin-left: 71px;

}
.g-price-old-uah_s {
    font-size: 17px;
    margin-left: 17px;
    color: #999;
    height: 20px;
    margin-right: -54px;
}
.g-price-old-uah_s::before {
    content: '';
    width: 36%;
    height: 1px;
    position: absolute;
    background: #fb515d;
    left: 19px;
    top: ;
    bottom: ;
    margin-top: 13px;
    margin-left: 5px;
}
span.g-price-old-uah-sign_s {
    margin-left: -6px;
}
}
@media only screen and (max-width : 393px) and (max-height :719px) {
#navbar-phone_mobile {

    margin-left: 0px;
}
.dropdown-menu {
    top: 5.5%;
}
.g-price-old-uah_w_mobile::before {
    content: '';
    width: 17%;
    height: 1px;
    position: absolute;
    background:
    #fb515d;
    left: ;
    top: ;
    bottom: ;
    margin-top: 15px;
    margin-left: ;
}
.ecomment {
    margin-left: 0px;
    margin-right: 70px;

}
.pric {
    margin: 7px;
        margin-right: 7px;
        margin-left: 7px;
    margin-right: 7px;
    margin-left: 7px;
    margin-right: 7px;
    margin-left: 7px;
    margin-right: 7px;
    margin-left: 7px;
    margin-left: -7px;
    margin-right: 11px;
    font-size: 20px;
}
.product-image-wrapper_mobile {
    border: 1px solid
    #F7F7F5;
    overflow: hidden;
    margin-bottom: 30px;
    width: 195px;
}
#navbar-header_mobile {
    top: 31%;
}
#navbar-header_mobile_m {
top: 31%;
}
}
@media only screen and (max-width : 375px) and (max-height :812px) {
#navbar-header_mobile {
    top: 28%;
}
#navbar-header_mobile_m {
top: 28%;
}
.g-price-old-uah {
    font-size: 15px;
    margin-left: 9px;
    color: #999;
    height: 20px;
    margin-right: -55px;
}
.last_items {
    margin-bottom: 20px;
    display: block;
    margin-left: -5px;
    margin-right: 0px;
}
.g-price-old-uah_s::before {
    content: '';
    width: 35%;
    height: 1px;
    position: absolute;
    background: #fb515d;
    left: 19px;
    top: ;
    bottom: ;
    margin-top: 13px;
    margin-left: -4px;
}
.link-catalog, .link-free-call {

width: 200px;
}
.header_top_mobile a {
    margin-left: 6px;
}
#navbar-phone_mobile {
    float: right;

    margin-left: 0px;


}
.pric {
    margin: 7px;
        margin-right: 7px;
        margin-left: 7px;
    margin-right: 7px;
    margin-left: 7px;
    margin-right: 7px;
    margin-left: 7px;
    margin-right: 7px;
    margin-left: 7px;
    margin-left: -4px;
    margin-right: 9px;
    font-size: 16px;
}
.But_add {

    padding-right: 0px;
    padding-left: 3px;

}
.product-image-wrapper_mobile {
    border: 1px solid
    #F7F7F5;
    overflow: hidden;
    margin-bottom: 30px;
    width: 170px;
}
.But_add a {

    font-size: 14px;
}
.g-price-old-uah::before {

    margin-top: 15px;
    margin-left: 30px;
    margin-left: -2px;
}
.discount_date {
    margin-left: 66px;
}
.g-price-old-uah_s {
    font-size: 16px;
    margin-left: 19px;
    color: #999;
    height: 20px;
    margin-right: -53px;
}
span.g-price-old-uah-sign_s {
    margin-left: -8px;
}

}

@media only screen and (max-width : 375px) and  (max-height :667px) {
#navbar-header_mobile {
    top: 45.5%;
}
#navbar-phone_mobile {
    float: right;
    margin-left: 0px;
}
.ecomment_list {
    float: left;
    margin-left: -50px;
    width: 365px;
    overflow: hidden;
}
.ecomment {
    margin-left: 1px;
    margin-right: 70px;
    max-width: 308px;
}
.ecomment_form {
    width: 375px;
    margin-left: -15px;
}
.navbar-brand_mobile img {
    width: auto;
    height: 96px;
    margin-left: -24px;
    margin-top: 20px;
    margin-bottom: 35px;
    overflow: hidden;
}
.mobile_search_find {
    margin-left: 0px;
}
.g-price-old-uah_s::before {
    content: '';
    width: 50%;
    height: 1px;
    position: absolute;
    background:
    #fb515d;
    left: 19px;
    top: ;
    bottom: ;
    margin-top: 15px;
    margin-left: -35px;
}
.link-catalog_head {

    padding-left: 123px;

}

#navbar-header_mobile_m {
top: 45.5%;
}
.link-catalog, .link-free-call {

width: 198px;
}

.pric {
    margin: 7px;
        margin-right: 7px;
        margin-left: 7px;
    margin-right: 7px;
    margin-left: 7px;
    margin-right: 7px;
    margin-left: 7px;
    margin-right: 7px;
    margin-left: 7px;
    margin-left: -7px;
    margin-right: 9px;
    font-size: 18px;
}

.header_top_mobile {
    background:
    rgb(22, 20, 24);
    padding-left: 0px;
    padding-right: 0px;
display: flex;
}
.mob_li {
margin-left: 18px;
display:none;
}
.But_add a {

    font-size: 14px;
}
.product-image-wrapper_mobile {
    border: 1px solid
    #F7F7F5;
    overflow: hidden;
    margin-bottom: 30px;
    width: 187px;
}
.last_items {
    margin-bottom: 20px;
    display: block;
    margin-left: -15px;
    margin-right: 15px;
}
.mainNav-mobile {
    margin-left: 0px;
    margin-right: 0px;
}
.discount_date {
    margin-left: 69px;
}
.g-price-old-uah_s {
    font-size: 18px;
    margin-left: 9px;
    color:
    #999;
    height: 20px;
    margin-right: -51px;
}
.g-price-old-uah-sign_s {
    margin-left: -8px;
    font-size: 17px;
}
.dropdown-menu {
    top: 6%;
}
.header_top_mobile a {
    margin-left: 5.3px;
}

}

@media only screen and (max-width : 360px) and  (max-height :740px) {
#navbar-header_mobile {
   top: 31%;
}
.header_top_mobile a {
    margin-left: 0px;
}
#navbar-phone_mobile {

    float: right;
    margin-left: 0px;

}
#navbar-header_mobile_m {
top: 31%;
}

.link-catalog, .link-free-call {

width: 190px;
}
.mob_li {
    margin-left: 24px;
}
.link-catalog_head {
    padding-left: 111px;
}
.pric {
    margin: 7px;
        margin-right: 7px;
        margin-left: 7px;
    margin-right: 7px;
    margin-left: 7px;
    margin-right: 7px;
    margin-left: 7px;
    margin-right: 7px;
    margin-left: 7px;
    margin-left: -5px;
    margin-right: 8px;
    font-size: 18px;
}
.product-image-wrapper_mobile {
    border: 1px solid
    #F7F7F5;
    overflow: hidden;
    margin-bottom: 30px;
    width: 180px;
}
.But_add a {

    font-size: 14px;
}
#navbar-phone_mobile {
    float: right;
    margin-left: 0px;
}
}
@media only screen and (max-width : 360px) and  (max-height :640px) {
#navbar-header_mobile {
    top: 34.5%;
}
.g-price-old-uah::before {
    margin-top: 14px;

    margin-left: 5px;
}
.header_top_mobile a {
    margin-left: 0px;
}
#navbar-phone_mobile {
    float: right;
    margin-left: 0px;
}
#navbar-header_mobile_m {
top: 34.5%;
}
.mainNav-mobile {

    margin-left: 0px;
    margin-right: 0px;
}
.navbar-brand_mobile img {
    width: auto;
    height: 72px;
    float: inherit;
    margin-left: 15px;
    margin-top: 0;
}
.country {
    font-size: 12px;
    height: 20px;
}
.mob_li {
    margin-left: 0px;
    color:
    darkgrey;
}
.link-catalog_head {
    padding-left: 80px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 72px;
}
.pric {
    margin: 7px;
        margin-right: 7px;
        margin-left: 7px;
    margin-right: 7px;
    margin-left: 7px;
    margin-right: 7px;
    margin-left: 7px;
    margin-right: 7px;
    margin-left: 7px;
    margin-left: -5px;
    margin-right: 10px;
    font-size: 18px;
}
.country {

    font-size: 12px;
    height: 25px;

}
.But_add a {

    font-size: 14px;
}
.g-price-old-uah_s {
    font-size: 18px;
    margin-left: 9px;
    color:
    #999;
    height: 20px;
    margin-right: -57px;
}
}
@media only screen and (max-width : 320px)  {

.link-catalog, .link-free-call {

width: 170px;
}
#navbar-header_mobile_m {
top: 36.5%;
}
.discount_date {
    margin-left: 64px;
    width: 35px;
}
.header_top_mobile a {
    margin-left: 0px;
}
#navbar-header_mobile {
    top: 36.5%;
}
.But_add a {
    font-size: 10px;
}
#navbar-phone_mobile {
    float: right;
    display: none;
}
.product-image-wrapper_mobile {
    border: 1px solid
    #F7F7F5;
    overflow: hidden;
    margin-bottom: 30px;
    width: 160px;
}

.g-price-old-uah_s {
    font-size: 18px;
    margin-left: 9px;
    color:
    #999;
    height: 20px;
    margin-right: -54px;
}
.pric {
    margin: 7px;
        margin-right: 7px;
        margin-left: 7px;
    margin-right: 7px;
    margin-left: 7px;
    margin-right: 7px;
    margin-left: 7px;
    margin-right: 7px;
    margin-left: 7px;
    margin-right: 7px;
    margin-left: 7px;
    margin-right: 7px;
    margin-left: 7px;
    margin-left: -6px;
    margin-right: 9px;
    font-size: 18px;
}
.mainNav-mobile .link-catalog, .mainNav-mobile .link-free-call {
    padding-left: 22px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 44px;
}

.formControl input {
    height: 35px;
    width: 263px;
    max-width: 305px;
    padding: 10px 15px;
        padding-left: 15px;
    padding-left: 15px;
    padding-left: 1px;
    border: 0;
    font-size: 16px;
    background:
#fff;
color:
    #9b9b9b;
    border-radius: 0;
    font-family: 'proxima-nova',sans-serif;
    z-index: 1070;
}
.g-price-old-uah_s::before {

    content: '';
    width: 37%;
    height: 1px;
    position: absolute;
    background:

    #fb515d;
    left: -3px;
    top: ;
    bottom: ;
    margin-top: 14px;
    margin-left: 13px;

}
.g-price-old-uah::before {
    content: '';
    width: 37%;
    height: 1px;
    position: absolute;
    background:
    #fb515d;

    margin-top: 13px;
    margin-left: 30px;
    margin-left: 5px;

}
.country {
    font-size: 12px;
    height: 24px;
}

}


